body{
	font-size: 16px;
	color:#fff;
	background-color: #61122f;
	font-family: 'Oxygen' , sans-serif;
}
/*Header*/
#header-nav{
	background-color: #f6b319;
	border: 0;
	border-radius: 0;
}
.navbar-brand{
	padding-top: 25px;
}
.navbar-brand h1{
	font-family: arial;
	color:#557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.75;
}
.navbar-brand a:hover , .navbar-brand a:focus{
	text-decoration: none;
}
.navbar-header button.navbar-toggle , .navbar-header .icon-bar{
	border:1px solid #61122f;
}
.navbar-header button.navbar-toggle{
	padding: 3px;
	margin:-30px;
	clear: both;
	position: absolute;
	right:30px;
	bottom: 20px;
}
#nav-list{
	margin-top: 10px;
	text-align: center;
}
#nav-list a{
	color: #951C49;
	text-align: center;
}
#nav-list a:hover{
background-color: #E7E7E7;
}
@media(min-width: 1200px){
#main-menu{
	color: #FF0000;
	font-family: arial;
	font-weight: bold;
	padding-top: 10px;
}
#main-content p{
	font-family: arial;
	padding: 6px;
	margin: 7px;
}
.row div{
	border: 1px solid lightgray;
	height: 1000px;
}
}
@media(min-width: 992px) and (max-width: 1199px){
#main-menu{
	color: #FF0000;
	font-family: arial;
	font-weight: bold;
	padding-top: 100px;
}
#main-content p{
	font-family: arial;
	padding: 6px;
	margin: 7px;
}
.row div{
	border: 1px solid lightgray;
	height: 1000px;
}
}
@media(min-width: 768px) and (max-width: 991px){
#main-menu{
	color: #FF0000;
	font-family: arial;
	font-weight: bold;
	padding-top: 10px;
}
#main-content p{
	font-family: arial;
	padding: 6px;
	margin: 7px;
}
.row div{
	border: 1px solid lightgray;
	height: 1000px;
}
}
@media(max-width: 767px){
	.navbar-brand{
		padding-top: 10px;
		height: 80px;
	}
	.navbar-brand h1{
		padding-top: 10px;
		font-size: 5vw;
	}
	#collapsable-nav a{
		font-size:1.2em;
	}
#main-menu{
	color: #FF0000;
	font-family: arial;
	font-weight: bold;
	padding-top: 10px;
}
#main-content p{
	font-family: arial;
	padding: 6px;
	margin: 7px;
}
.row div{
	border: 1px solid lightgray;
	height: 1000px;
}
}
